.Datacomp {
	width: 60%;
	margin: 16px auto;
	border: 1px solid #eee;
	padding: 16px;
	text-padding: center;
	box-shadow: 0 2px 3px #ccc;	
}

.Datacomp button {
  background-color: #4682B4;
  color: white;
  font: inherit;
  border: 1px solid #483D8B;
  padding: 8px;
  cursor: pointer;
}

.Datacomp button:hover {
  background-color: #20B2AA;
  color: black;
}

@media (min-width: 500px) {
  .Datacomp {
    width: 450px;
  }
}

